<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="http://localhost/default-template/custom/font-awesome/css/all.min.css">
        <link reunl="stylesheet" href="http://localhost/default-template/custom/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://localhost/default-template/custom/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="http://localhost/default-template/custom/style.css">
        <script src="http://localhost/default-template/custom/jquery-3.4.1.slim.min.js"></script>
        <script src="http://localhost/default-template/custom/bootstrap/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <!-- bottom navbar -->
        
        <div class=" shadow-lg bg-white fixed-bottom bottom-nav">
            <nav class="nav nav-pills nav-fill text-sm" id="pills-tab" role="tablist">
                <a class="nav-item nav-link text-dark rounded-0 border-0" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                    <i class="fa fa-home"></i>
                    <p>home</p>
                </a>
                <a class="nav-item nav-link text-dark rounded-0 border-0" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <i class="fa fa-car-alt"></i>
                    <p>bid</p>
                </a>
                <a class="nav-item nav-link text-dark rounded-0 border-0" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <i class="fa fa-user"></i>
                    <p>profile</p>
                </a>
            </nav>
        </div>
        <!-- end bottom navbar -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mb-2 mt-2">
                    <div class="card border-0 shadow">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper w-25">
                                <img class="w-100 img-thumbnail p-1 m-1 " src="http://via.placeholder.com/300x180" alt="Card image cap">
                            </div>
                            <div class="card-body p-1 w-75 position-relative">
                                <div href="" class="position-absolute text-dark mr-1" style="right: 0;top: 0; text-decoration-line: none;"><i class="fa fa-times"></i></div>
                                <h5 class="card-title p-0 pl-1">Toyota Avanza</h5>
                                <h5 class="card-price text-primary p-1"><i class="fa fa-money-bill-wave"></i>&nbsp; Rp. 100,5 jt</h5>
                                <div class="card-text p-1"><i class="far fa-clock"></i>&nbsp; 2019</div>
                                <div class="card-text p-1"><i class="far fa-map-marker-alt"></i>&nbsp; Bandung</div>
                                <div class="card-text p-1 badge badge-info">Bid count : 10</div>
                                <a href="#" class="btn btn-sm btn-success position-absolute m-1" class="position-absolute text-dark mr-1" style="right: 0;bottom: 0; text-decoration-line: none;"><i class="fab fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="card border-0 shadow">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper w-25">
                                <div class="animated-background rounded-0 w-100 h-100">
                                    <div class="background-masker header-top"></div>
                                    <div class="background-masker header-left"></div>
                                    <div class="background-masker header-right"></div>
                                    <div class="background-masker header-bottom"></div>
                                    <div class="background-masker subheader-left"></div>
                                    <div class="background-masker subheader-right"></div>
                                    <div class="background-masker subheader-bottom"></div>
                                    <div class="background-masker content-top"></div>
                                    <div class="background-masker content-first-end"></div>
                                    <div class="background-masker content-second-line"></div>
                                    <div class="background-masker content-second-end"></div>
                                    <div class="background-masker content-third-line"></div>
                                    <div class="background-masker content-third-end"></div>
                                </div>
                            </div>
                            <div class="card-body p-1 w-75 position-relative">
                                
                                <div class="card-text" style="height: 20px;">
                                    <div class="animated-background">
                                        <div class="background-masker header-top"></div>
                                        <div class="background-masker header-left"></div>
                                        <div class="background-masker header-right"></div>
                                        <div class="background-masker header-bottom"></div>
                                        <div class="background-masker subheader-left"></div>
                                        <div class="background-masker subheader-right"></div>
                                        <div class="background-masker subheader-bottom"></div>
                                        <div class="background-masker content-top"></div>
                                        <div class="background-masker content-first-end"></div>
                                        <div class="background-masker content-second-line"></div>
                                        <div class="background-masker content-second-end"></div>
                                        <div class="background-masker content-third-line"></div>
                                        <div class="background-masker content-third-end"></div>
                                    </div>
                                </div>
                                
                                <div class="card-text" style="height: 20px;">
                                    <div class="animated-background">
                                        <div class="background-masker header-top"></div>
                                        <div class="background-masker header-left"></div>
                                        <div class="background-masker header-right"></div>
                                        <div class="background-masker header-bottom"></div>
                                        <div class="background-masker subheader-left"></div>
                                        <div class="background-masker subheader-right"></div>
                                        <div class="background-masker subheader-bottom"></div>
                                        <div class="background-masker content-top"></div>
                                        <div class="background-masker content-first-end"></div>
                                        <div class="background-masker content-second-line"></div>
                                        <div class="background-masker content-second-end"></div>
                                        <div class="background-masker content-third-line"></div>
                                        <div class="background-masker content-third-end"></div>
                                    </div>
                                </div>
                                <div class="card-text" style="height: 20px;">
                                    <div class="animated-background">
                                        <div class="background-masker header-top"></div>
                                        <div class="background-masker header-left"></div>
                                        <div class="background-masker header-right"></div>
                                        <div class="background-masker header-bottom"></div>
                                        <div class="background-masker subheader-left"></div>
                                        <div class="background-masker subheader-right"></div>
                                        <div class="background-masker subheader-bottom"></div>
                                        <div class="background-masker content-top"></div>
                                        <div class="background-masker content-first-end"></div>
                                        <div class="background-masker content-second-line"></div>
                                        <div class="background-masker content-second-end"></div>
                                        <div class="background-masker content-third-line"></div>
                                        <div class="background-masker content-third-end"></div>
                                    </div>
                                </div>
                                <div class="card-text " style="height: 20px;">
                                    <div class="animated-background">
                                        <div class="background-masker header-top"></div>
                                        <div class="background-masker header-left"></div>
                                        <div class="background-masker header-right"></div>
                                        <div class="background-masker header-bottom"></div>
                                        <div class="background-masker subheader-left"></div>
                                        <div class="background-masker subheader-right"></div>
                                        <div class="background-masker subheader-bottom"></div>
                                        <div class="background-masker content-top"></div>
                                        <div class="background-masker content-first-end"></div>
                                        <div class="background-masker content-second-line"></div>
                                        <div class="background-masker content-second-end"></div>
                                        <div class="background-masker content-third-line"></div>
                                        <div class="background-masker content-third-end"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  <div class="container-fluid " id="pills-tabContent">
    <div class="card-columns active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <style>
        </style>
        <div class="card border-0 shadow-sm position-relative">
            <div class="card-image" style="background-image: url('https://asset.kompas.com/crops/-fQgR4lpXDy22Y2bh3yaYkuIFlE=/64x94:891x645/750x500/data/photo/2019/01/15/308265968.jpeg');">
                <span class="badge badge-pill badge-info text-sm ml-1 card-text">Baru</span>
            </div>
            <div class="card-body p-1">
                <h5 class="card-title ">Toyota Avanza</h5>
                <h5 class="card-price text-primary"><i class="fa fa-money-bill-wave"></i>&nbsp; Rp. 100,5 jt</h5>
                <div class="card-text"><i class="far fa-clock"></i>&nbsp; 2019</div>
                <div class="card-text"><i class="far fa-map-marker-alt"></i>&nbsp; Bandung</div>
            </div>
        </div>
        <div class="card border-0 shadow-sm position-relative">
            <div class="card-image" style="background-image: url('https://asset.kompas.com/crops/-fQgR4lpXDy22Y2bh3yaYkuIFlE=/64x94:891x645/750x500/data/photo/2019/01/15/308265968.jpeg');">
                <span class="badge badge-pill badge-info text-sm ml-1 card-text">Baru</span>
            </div>
            <div class="card-body p-1">
                <h5 class="card-title ">Toyota Avanza</h5>
                <h5 class="card-price text-primary"><i class="fa fa-money-bill-wave"></i>&nbsp; Rp. 100,5 jt</h5>
                <div class="card-text"><i class="far fa-clock"></i>&nbsp; 2019</div>
                <div class="card-text"><i class="far fa-map-marker-alt"></i>&nbsp; Bandung</div>
            </div>
        </div>
    </div>
    <div class="profile" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
</div> -->
<footer class="container-fluid mt-3 mb-3">
    <div class="timeline-wrapper card-columns">
        <div class="card border-0">
            <div class="card-image">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
            <div class="card-body p-1">
                <div class="card-title" style="height: 20px;">
                    <div class="animated-background">
                        <div class="background-masker header-top"></div>
                        <div c#pills-profilelass="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker subheader-right"></div>
                        <div class="background-masker subheader-bottom"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker content-second-end"></div>
                        <div class="background-masker content-third-line"></div>
                        <div class="background-masker content-third-end"></div>
                    </div>
                </div>
                <div class="card-title" style="height: 20px;width: 70%;">
                    <div class="animated-background">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker subheader-right"></div>
                        <div class="background-masker subheader-bottom"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker content-second-end"></div>
                        <div class="background-masker content-third-line"></div>
                        <div class="background-masker content-third-end"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-image">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
            <div class="card-body p-1">
                <div class="card-title" style="height: 20px;">
                    <div class="animated-background">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker subheader-right"></div>
                        <div class="background-masker subheader-bottom"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker content-second-end"></div>
                        <div class="background-masker content-third-line"></div>
                        <div class="background-masker content-third-end"></div>
                    </div>
                </div>
                <div class="card-title" style="height: 20px;width: 70%;">
                    <div class="animated-background">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker subheader-right"></div>
                        <div class="background-masker subheader-bottom"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker content-second-end"></div>
                        <div class="background-masker content-third-line"></div>
                        <div class="background-masker content-third-end"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
<script src="http://localhost/default-template/custom/font-awesome/js/all.min.js"></script>
<script src="http://localhost/default-template/custom/custom.js"></script>
<style>
</style>